<footer>
    <p>Síguenos en:</p>
    <ul>
        <li><a href="https://www.facebook.com/share/fGUK7x8dvBj4c7x8/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/tunombre"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <p>© Duanly Vega Alderete 2024</p>
</footer>
