<nav class="container">
  <ul>
  <li><strong><a href="/">Duanly Corps</a></strong></li>
  </ul>
  <ul>
    <li><a href="/about" class="contrast">Acerca de mi</a></li>
    <li><a href="/blog" class="contrast">Blog</a></li>
    <li><a href="/contact" class="contrast">Contacto</a></li>
  </ul>
</nav>
