---
layout: base.njk
title: "Contacto"
description: contacto
---
<for
 method="POST
 netlify
 data-netlify-recaptcha="true"
  data-netlify="true>
  <fieldset>
    <label>
      First name
      <input
        name="first_name"
        placeholder="First name"
        autocomplete="given-name"
        required
      />
    </label>
    <label>
      Email
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        required
      />
    </label>
    <textarea
  name="bio"
  placeholder="Write a professional short bio..."
  aria-label="Professional short bio"
>
</textarea>
<label>
  <input type="checkbox" name="valid" aria-invalid="false" />
  Valid
</label>

<label>
  <input type="checkbox" data-netlify-recaptcha="true" name="invalid" aria-invalid="true" />
  Invalid
</label>
  </fieldset>
  <input type="submit" value="Subscribe" />
</form>
