---
layout: base.njk
title: "Contacto"
description: contacto
---
<form method="POST" netlify>
  <fieldset>
    <label>
      First name
      <input
        name="first_name"
        placeholder="First name"
        autocomplete="given-name"
        required
      />
    </label>
    <label>
      Email
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        required
      />
    </label>
    <textarea
  name="bio"
  placeholder="Write a professional short bio..."
  aria-label="Professional short bio"
>
</textarea>
  </fieldset>
  <input type="submit" value="Subscribe" />
</form>
