---
layout: base.njk
title: "Contacto"
description: contacto
---

<form 
  method="POST" 
  netlify 
  data-netlify-recaptcha="true"
  data-netlify="true"
>
  <fieldset>
    <label>
      First name
      <input
        name="first_name"
        placeholder="First name"
        autocomplete="given-name"
        required
      />
    </label>
    <label>
      Email
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        required
      />
    </label>
    <label>
      Bio
      <textarea
        name="bio"
        placeholder="Write a professional short bio..."
        aria-label="Professional short bio"
        required
      ></textarea>
    </label>
    <label>
      <input 
        type="checkbox" 
        data-netlify-recaptcha="true" 
        name="valid" 
        required
      />
      Valid
    </label>
  </fieldset>
  <input type="hidden" name="form-name" value="contact" />
  <input type="submit" value="Subscribe" />
</form>
