---
layout: base.njk
title: "Contacto"
description: contacto
---

<form name="contacto" method="POST" netlify data-netlify-recaptcha="true"> 
    <input type="hidden" name="form-name" value="contacto" />
    <fieldset> 
        <label>First name
            <input name="name" placeholder="Escribe tu nombre" autocomplete="given-name" required />
        </label>
        <label>Email
            <input type="email" name="email" placeholder="Escribe tu email" autocomplete="email" required /> 
        </label>
        <label>Message
            <textarea name="message" placeholder="Escribe tu comentario" maxlength="250" required></textarea>
        </label>
        <div data-netlify-recaptcha="true"></div>
    </fieldset> 
    <input type="submit" value="Enviar" /> 
</form>

